.table-header {
    background-color: #00576d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    box-shadow: 0px 2px 2px #888888;
}

.table-header:active {
    border-bottom: 3px solid #0077b6;
    box-shadow: none;
}

.table-header:hover {
    background-color: #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #3d434e;
}

th {
    background-color: #5ed3f3;
    color: white;
}

